:root {
    /* --link-color: black; */
    --link-color: #EB5757;
    --almost-black: #444444;
    --unorsk-red: #EB5757;
    --base: 24px;

    /*font sizes*/
    --my-recent: 2rem;
    --about-details: 1.5rem;
}

svg {
    fill: var(--almost-black);
}

svg:hover {
    fill: var(--unorsk-red);
}

html {
    display: flex;
    flex-flow: column;
    align-items: center;
}

body {
    font-family: 'Work Sans', sans-serif;   
    font-size: 16px;
}

a {
    color: var(--link-color);
}

.logo {
    background-image: url('/unorsk2.78c315d4.svg');
    background-size: cover;
    width: 109px;
    height: 33px;
    margin-top: -4px;
}

.relax {
    position: absolute;
}
.fancy-text {
    display: inline;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(/skull.a2c885c5.png);
    background-color: #fff;
    background-size: cover;
    -webkit-text-fill-color: transparent;
}

.header {
    flex: 1;
    display: flex;
    width: 100%;
    font-weight: 100;
}
.menu a {
    text-transform: uppercase;
    text-decoration: none;
}

.container {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.my-recent-link {
    font-size: var(--my-recent);
    font-weight: 900;
    text-transform: uppercase;
}
.about-details {
    font-weight: 100;
    font-size: var(--about-details);   
    color: var(--almost-black);
}
.about {
    font-weight: 100;
    text-transform: uppercase;
    color: var(--unorsk-red);
}
.works-header {
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
}
.menu a {
    margin-left: calc(var(--base)/2);
}
.more-on-behance {
    font-weight: 700;
}

.works-navigation {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.works-navigation a {
    text-transform: uppercase;
}

.works-description {
    font-size: 1.2rem;

    margin-top: var(--base);
}

/*mobile*/
@media only screen and (max-width : 500px) {
    :root {
        --my-recent: 1.2rem;
        --about-details: 1.2rem;
    }
    body {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .menu a {
        margin-left: calc(var(--base)/4);
    }
    .social {
        display: none;
    }
    .header {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .about-details-padding-top {
        flex: 0 0 calc(2*var(--base));
    }

    .about-details {
        /* max-width: 330px; */
    }

    .my-recent-link-padding-top {
        flex: 0 0 calc(4*var(--base));
    }

    .about-padding-top {
        flex: 0 0 calc(2*var(--base));
    }

    .works-padding {
        flex: 0 0 calc(1*var(--base));
    }

    .about {
        /* font-size: 2rem;
        line-height: 1.5rem; */
        font-size: 3rem;
        line-height: 2.7rem;
    }
    .works-padding-top {
        flex: 0 0 calc(2*var(--base));
    }
    .works-mobile img {
        width: 100%;
    }
    .works {
        display: none;
    }
    .works-header {
        font-size: 2rem;
        min-width: 100%;
    }
    .more-on-behance {
        font-size: 1.2rem;
    }
    .more-on-behance-padding {
        flex: 0 0 calc(3*var(--base));
    }
}


/* tablet */
@media only screen and (min-width: 501px) and (max-width : 940px) {
    :root {
        --my-recent: 1.5rem;
        --about-details: 1.2rem;
    }
    body {
        max-width: 532px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .header {
        font-size: 1.5rem;
        line-height: 2rem;
        justify-content: space-between;
    }

    .menu {
        flex: 1;
    }

    .social a {
        width: var(--base);
        height: var(--base);
        margin-left: calc(var(--base)/2);
    }

    .about-details-padding-top {
        flex: 0 0 calc(4*var(--base));
    }

    .about-details {
        max-width: 532px;
    }

    .my-recent-link-padding-top {
        flex: 0 0 calc(4*var(--base));
    }

    .about-padding-top {
        flex: 0 0 calc(4*var(--base));
    }

    .about {
        font-size: 3rem;
        max-width: 532px;
        line-height: 2.7rem;
    }
    .works-padding {
        flex: 0 0 calc(1*var(--base));
    }
    .works {
        display: none;
    }
    .works-mobile img {
        width: 100%;
    }
    .works-padding-top {
        flex: 0 0 calc(4*var(--base));
    }
    .works-header {
        font-size: 3rem;
        min-width: 532px;
    }
    .more-on-behance {
        font-size: 1.5rem;
    }
    .more-on-behance-padding {
        flex: 0 0 calc(3*var(--base));
    }
}

/* desktop */
@media only screen and (min-width : 940px) {
    body {
        max-width: 930px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .header {
        font-size: 1.5rem;
        line-height: 2rem;
        justify-content: space-between;
    }

    .menu {
        flex: 1;
    }

    .social a {
        width: var(--base);
        height: var(--base);
        margin-left: calc(var(--base)/2);
    }

    .about-details-padding-top {
        flex: 0 0 calc(4*var(--base));
    }

    .about-details {
        max-width: 530px;
    }

    .my-recent-link-padding-top {
        flex: 0 0 calc(4*var(--base));
    }

    .about-padding-top {
        flex: 0 0 calc(4*var(--base));
    }

    .about {
        font-size: 6rem;
        max-width: 930px;
        line-height: 5.3rem;
    }
    .works-mobile {
        display: none;
    }
    .works-padding-top {
        flex: 0 0 calc(4*var(--base));
    }
    .more-on-behance-padding {
        flex: 0 0 calc(3*var(--base));
    }
    .works-padding {
        flex: 0 0 calc(3*var(--base));
    }
    .works-header {
        font-size: 4rem;
        min-width: 930px;
    }

    .works {
        justify-content: space-between;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap
    }

    .work img {
        max-width: 446px;
    }
    .work {
        margin-top: 24px;
    }
    .more-on-behance {
        font-size: 1.5rem;
    }

}

/*# sourceMappingURL=/style.78032849.css.map */